# Contracts
PRIVATE_KEY=
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ETHERSCAN_API_KEY=

# Frontend
NEXT_PUBLIC_BLINDPROCURE_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
